.container{
    background-image: url(Background4.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 11%;
    display: flex;
    align-items: center;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration-color: none;
    text-decoration: underline;
    color: #fff;
    font-size: 25px;
    text-shadow: 0 2px 5px #000;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(2, 8, 4);
    font-size: 100px;
    text-shadow: 0 2px 10px rgb(209, 219, 213), 151, 139;
}
p{
    color: #f5c4c4;
    font-size: 20px;
    font-weight: bold;
    line-height: 19px;
    font-style: oblique;
}
button{
    width: 180px;
    color: #000;
    font-size: 17px;
    padding: 13px 0;
    background: #9e9b9b;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 0;
    box-shadow: #999;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(Toilet.jpg);
}
.card2{
    background-image: url(Fats\ use.jpeg);
}
.card3{
    background-image: url(Improper\ ww.jpg);
}
.card4{
    background-image: url(over2.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: rgb(4, 1, 58);
    text-shadow: 0 0 5px #999;
}
.card p{
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-style: normal;
    text-shadow: rgb(15, 4, 161);
}
button a:hover{
    color: brown;
}
a:hover{
    color: aqua;
}
button a{
    color: #000;
}
#text {
    text-align: center;
}
